/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './components/alert.css';
/* purgecss end ignore */

.abs-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
