/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* purgecss end ignore */

.abs-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.pos-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.auth-title {
  @apply text-lg font-bold text-center mb-3;
}
